/* .icono-tablero{
    font-size: 80px;
    margin: 0 0px 0px 20px;
    color:  #3f51b5;
    
}

a {
    text-decoration: none;
}

.contador {
    font-size: 18px; 
    position:absolute; 
    right:15px;
} */

.list-icon {
    font-size: 30px !important;
    width: 40px !important;
    height: 40px !important;
    color:blue;
}

.list-header {
    padding-left: 16px;
}

.list-date {
    display: block;
    font-size: small;
}

.list-link {
    
}