<div class="container py-5">
  <div class="row">
    <div class="col">


      <mat-card>


        <div class="row">

          <div class="col-12 col-sm-6 mb-5">



            <h5 class="list-header">Archivo</h5>
            <mat-nav-list>
              <!--   <h3 matSubheader>Archivo</h3> -->


              <mat-list-item>
                <i matListIcon class="fa fa-file list-icon"></i>
                <a matLine (click)="createProyecto()">Nuevo Proyecto</a>
              </mat-list-item>

              <mat-list-item>
                <i matListIcon class="fa fa-folder-open list-icon"></i>
                <a matLine [routerLink]="['/proyectos']">Abrir...</a>
              </mat-list-item>

              <mat-list-item>
                <i matListIcon class="fa fa-database list-icon"></i>
                <a matLine [routerLink]="['/catalogos']">Catálogos</a>
              </mat-list-item>

            </mat-nav-list>



          </div>

          <div class="col-12 col-sm-6">

            <h5 class="list-header">Proyectos Recientes</h5>

            <mat-nav-list>
              <!--  <h3 matSubheader>Proyectos recientes</h3> -->

              <mat-list-item *ngFor="let p of proyectos" class="my-2">
                <a matLine [routerLink]="['/proyecto']" >{{p.nombre}}
                  <span class="text-muted list-date">{{p.fecha}}</span>
                </a>

              </mat-list-item>


            </mat-nav-list>


          </div>

        </div>


      </mat-card>



    </div>
  </div>
</div>