<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card my-5">
        <div class="card-body">


          <div class="row">
            <div class="col-sm-6">
              <mat-list class="my-5">
                
                <mat-list-item>                 
                  <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Nuevo Proyecto</button>
                </mat-list-item>

                <mat-list-item>                
                  <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Abrir</button>
                </mat-list-item>

                <mat-list-item>    
                  <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Catálogos</button>
                </mat-list-item>

              </mat-list>
            </div>
            <div class="col-sm-6">
              <h2>
                <span>Proyectos Recientes</span>
              </h2>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="#">Proyecto 1</a>
                </li>
                <li class="list-group-item"><a href="#">Proyecto 2</a></li>
                <li class="list-group-item"><a href="#">Proyecto 3</a></li>
                <li class="list-group-item"><a href="#">Proyecto 4</a></li>
                <li class="list-group-item"><a href="#">Proyecto 5</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<!-- 
<div class="container py-3">

  <div class="row">
    <div class="col-12 col-mat-6 col-xl-4 p-2">
      <a>
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0">Propiedades</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-building icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2 ">
      <a>
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0 ">Propietarios</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-address-book-o icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2 ">
      <a>
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0 ">Prospectos</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-users icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2 ">
      <a>
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0 ">Usuarios</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero ">people</i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2">
      <a >
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0 ">Mensajes</mat-card-title>
          <span class="spacer"></span>
          <div>
            <span class="badge badge-danger contador">20</span>
            <i class="material-icons icono-tablero ">email</i>
          </div>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2">
      <a>
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0 ">Tareas</mat-card-title>
          <span class="spacer"></span>
          <div>
            <span class="badge badge-danger contador">5</span>
            <i class="material-icons icono-tablero ">event</i>
          </div>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2 ">
      <a>
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0 ">Nueva Propiedad</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-home icono-tablero "></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2 ">
      <a>
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0 ">Nuevo Propietario</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-user-plus icono-tablero "></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2 ">
      <a>
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0 ">Nuevo Prospecto</mat-card-title>
          <span class="spacer"></span>
          <i class="material-icons icono-tablero ">person_add</i>
        </mat-card>
      </a>
    </div>

  </div>


</div> -->