<mat-tab-group>
  <mat-tab label="Muebles">
    <div class="container py-3">


      <!--       <mat-card class="gabinete-card">
        <mat-card-header>
          <mat-card-title>GABINETE RINCONERO CIEGO 100X60</mat-card-title>
          <mat-card-subtitle>Subtitulo</mat-card-subtitle>
        </mat-card-header>
        <img md-card-image width="300px" src="assets/img/gabinete.jpg" alt="gabinete">
        <mat-card-content>
          <div>Contenido</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>
            <i class="fa fa-plus"></i>
          </button>
          <button mat-raised-button>
            <i class="fa fa-minus"></i>
          </button>
        </mat-card-actions>
      </mat-card> -->

      <div class="card-columns">

        <div class="card mat-elevation-z2" *ngFor="let gabinete of gabinetes">
          <img class="card-img-top" src="assets/img/gabinete.jpg" alt="Card image cap">


          <span class="card-counter badge badge-danger" *ngIf="gabinete.count">{{gabinete.count}}</span>

          <div class="card-body">
            <h6 class="card-title">GABINETE RINCNERO CIEGO DERECHO</h6>
            <div class="mb-2 text-medidas">
              <div>Ancho: 90 cm</div>
              <div>Largo: 100cm </div>
            </div>

            <div class="row">
              <div class="col">
                <button (click)="gabinete.count= gabinete.count -1" class="btn btn-outline-info btn-block">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <div class="col">
                <button (click)="gabinete.count= gabinete.count +1" class="btn btn-outline-info btn-block">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>

          </div>
        </div>



      </div>


    </div>
  </mat-tab>
  <mat-tab label="Puertas">
    <div class="container">
      <button type="button" class="btn btn-primary" (click)="createPuerta()">Nueva Puerta</button>

      <div class="card-columns">

        <div class="card mat-elevation-z2" *ngFor="let gabinete of gabinetes">
          <img class="card-img-top" src="assets/img/gabinete.jpg" alt="Card image cap">


          <span class="card-counter badge badge-danger" *ngIf="gabinete.count">{{gabinete.count}}</span>

          <div class="card-body">
            <h6 class="card-title">GABINETE RINCNERO CIEGO DERECHO 100</h6>
            <div class="mb-2 text-medidas">

              <div class="row">
                <span class="col">P1: 50X70 cm</span>
                <select class="form-control col"></select>
                <div class="col">
                  <button class="btn btn-outline-primary">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>

              <div class="row">
                <span class="col">P2: 50x70 cm</span>
                <select class="form-control col"></select>
                <div class="col">
                  <button class="btn btn-outline-primary">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>



      </div>F
    </div>
  </mat-tab>
  <mat-tab label="Pedido">
    <div class="container">

      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Mueble</th>
            <th scope="col">Ancho</th>
            <th scope="col">Largo</th>
            <th>PU</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Rinconero</td>
            <td>100</td>
            <td>70</td>
            <td></td>
            <td>1200</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Puerta Entrepaño</td>
            <td>70</td>
            <td>70</td>
            <td></td>
            <td>200</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Cajonero</td>
            <td>40</td>
            <td>70</td>
            <td></td>
            <td>1300</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <h4>Total</h4>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>



      <br>

      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Puerta</th>
            <th scope="col">Ancho</th>
            <th scope="col">Largo</th>
            <th>M2</th>
            <th>Precio M2</th>
            <th scope="col">Modelo</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Puerta</td>
            <td>50</td>
            <td>70</td>
            <td></td>
            <td></td>
            <td>White Lily</td>
            <td>100</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Puerta</td>
            <td>35</td>
            <td>70</td>
            <td></td>
            <td></td>
            <td>White Lily</td>
            <td>100</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Puerta</td>
            <td>35</td>
            <td>70</td>
            <td></td>
            <td></td>
            <td>White Lily</td>
            <td>100</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <h4>Total</h4>
            </td>
            <td></td>
          </tr>

        </tbody>
      </table>


    </div>
  </mat-tab>
  <mat-tab label="Vista">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <img src="assets/img/cocinafiber.svg">
        </div>
        <div class="col-4">
          <h4>Sólidos</h4>
          <table>
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>

            </thead>
            <tbody>
              <tr>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
              </tr>
            </tbody>
          </table>

          <h4>Maderas</h4>
          <table>
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>

            </thead>
            <tbody>
              <tr>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
              </tr>
            </tbody>
          </table>

          <h4>Maderas Brillantes</h4>
          <table>
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>

            </thead>
            <tbody>
              <tr>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
                <td>
                  <button class="btn btn-secondary"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </mat-tab>
</mat-tab-group>